<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<title>Watch Replay</title>
		<link rel="stylesheet" type="text/css" href="replay.css">
		<script type="text/javascript" src="angular.js"></script>
		<!-- <script type="text/javascript" src="log.js"></script> -->
		<script type="text/javascript" src="bots.js"></script>
		<script type="text/javascript" src="bundle.js"></script>
		<!-- <script type="text/javascript" src="angular-app.js"></script> -->
	</head>
	<body>
		<div ng-controller="snakeController">
			<p>{{ frame }}</p>
			<div class="outer">
				<div class="grid">
					<div ng-repeat="row in curr_frame.grid track by $index" class="row">
						<div ng-repeat="cell in row track by $index" class="cell {{cell}}"></div>
					</div>
				</div>
			</div>
			<div class="outer">
				<p ng-repeat="(player, score) in curr_frame.scores" class="{{player.slice(-1)}}">{{player}}: {{score}} </p>
			</div>
		</div>
	</body>
</html>